## Tuple ... Identified with help of ( )
- New Datatype Learnt : list,tuple

In [2]:
b=(100,200,300,"banana")
print(b)

(100, 200, 300, 'banana')

In [3]:
a=[2,10,"banana","mango"]
b=(100,200,3.5,"Thursday",a)

In [4]:
print(b)

(100, 200, 3.5, 'Thursday', [2, 10, 'banana', 'mango'])

In [91]:
a=[2] #One element list

In [95]:
a=(2,) #One element tuple

In [96]:
type(a)

tuple

### Elements Accessing

In [5]:
print(b)

(100, 200, 3.5, 'Thursday', [2, 10, 'banana', 'mango'])

In [6]:
b[0] # The number 0 is called the index , so we are finding element at index 0

100

In [7]:
b[2]

3.5

In [8]:
b[3]

'Thursday'

In [9]:
b[5] # This will generate an error as there is no element at that position

IndexError: tuple index out of range

In [32]:
print(b)

['apple', 'ball', 2, 'Apple', [2, 10, 'banana', 'mango']]

### Python default behaviour for comma separated values is -- tuple

In [20]:
2,3,5

(2, 3, 5)

In [25]:
c=["apple","ball",["bat","cat",["dog",["baba","banana"]]]]
c[2],[2],[1],[1]

(['bat', 'cat', ['dog', ['baba', 'banana']]], [2], [1], [1])

### Slicing 
 - [first_element_index:last_element_index+1]

In [45]:
a=[2,10,"banana","mango"]
b=(100,200,3.5,"Thursday",a)

In [34]:
b

(100, 200, 3.5, 'Thursday', [2, 10, 'banana', 'mango'])

In [35]:
b[0:4]
# Start
# End
# Error check

(100, 200, 3.5, 'Thursday')

In [36]:
b[1:4:2] #Third parameter step

(200, 'Thursday')

In [37]:
b[-1]

[2, 10, 'banana', 'mango']

In [46]:
b

(100, 200, 3.5, 'Thursday', [2, 10, 'banana', 'mango'])

In [38]:
b[4][1:3]

[10, 'banana']

#### We can skip certain values

In [39]:
b=("apple","ball",2,"Apple")

In [40]:
b[1:] #All elements towards the end from a particular item

('ball', 2, 'Apple')

In [41]:
b[:3] #All elements from start upto a particular item

('apple', 'ball', 2)

### Length Function

In [42]:
b=(1,2,3,4)

In [43]:
len(b)

4

##### Sequence : (Atleast 2 elements)
- "Python"  - Atleast 2 characters (String - immutable)
- [1,2,3,4] - Atleast 2 items (List - mutable)
- (1,2,3,4) - Atleast 2 items (Tuple - immutable)

### in and not in operator - can be used with any sequence

In [47]:
a=(1,2,3,4)

In [48]:
if (13 in a):
    print("Present")
else:
    print("Absent")

Absent

### Tuples cannot be modified or updated ( "Immutable")
- No insertion or deletion possible

In [55]:
b=("apple","mango","orange")
b[0]="dragon-fruit"

TypeError: 'tuple' object does not support item assignment

### Tuple Comprehension 
- Syntax : tuple_variable=[new_item for item in sequence [if] )

In [59]:
# Take square of only even numbers
a=(1,2,3,4,5,6,7,8,9,10)
for i in a:
    if i%2==0:
        print(i**2)

4
16
36
64
100

In [60]:
square=(I**2 for I in a if I%2==0)
b=(r**2 for r in a if r%2==0)
a=(i**2 for i in a if i%2==0)
a=(r**2 for r in a if r%2==0)
print(a)

<generator object <genexpr> at 0x000002CE1D5134A0>

###  Interview Question -- Deep Copy and Shallow Copy not valid for tuples as tuples are immutable
- Deep Copy : A change in the modified version affects the original version
- Shallow Copy : A change in the modified version does not affect the original version

### Zip Function

###### zip( ) is a built in function that takes two or more sequences and zips them into a list of tuples. The tuple thus formed has one element from each sequence.

In [71]:
a=(401,402,403,404)
b=["Abdul","Swapnil","Adinath","Bhushan"]
list(zip(a,b))

[(401, 'Abdul'), (402, 'Swapnil'), (403, 'Adinath'), (404, 'Bhushan')]

#### how to access the elements of list(zip(a,b))

In [72]:
a=(401,402,403,404)
b=["Abdul","Swapnil","Adinath","Bhushan"]
students=list(zip(a,b))

In [75]:
students[2][1]

'Adinath'

### Variable length arguments - Convert the sent arguments into tuple

In [76]:
def add(a,b):
    return a+b 
add(2,6)

8

add(2,6,9,11)
add(2,6,9,11,13,15)

In [81]:
def add(*x):
    print(type(x))
    sum=0
    for i in x:
        sum=sum+i
    return sum

In [82]:
add(2,6,9,11,13,15)

<class 'tuple'>

56

#### Tuple Packing and Unpacking -- Specific only to tuple

In [ ]:
a=(401,402,403,404) #Tuple assignment -- Packing a tuple

In [84]:
def simple(n1,n2):
    return n1,n2

In [109]:
x,y=simple(4,5)

###### Unpacking

In [105]:
(*a,)=simple(1,3)
[*a]=simple(1,3)